<footer id="contacto">

    <h5>Contacto</h5>

    <address>
        UNIFAM - Unión Familiar<br>
        Correo:
        <a href="mailto:contacto@unifam.cr">
            contacto@unifam.cr
        </a><br>
        San José, Costa Rica
    </address>

    <h6>Enlaces rápidos</h6>

    <ul>

        <li>
            <a href="Index.html">
                Inicio
            </a>
        </li>

        <li>
            <a href="Historia.html">
                Nuestra Historia
            </a>
        </li>

        <li>
            <a href="Beneficios.html">
                Beneficios y Actividades
            </a>
        </li>

        <li>
            <a href="Servicios.html">
                Servicios
            </a>
        </li>

        <li>
            <a href="Comentarios.html">
                Comentarios y Sugerencias
            </a>
        </li>

    </ul>

    <p>
        <small>
            &copy; 2026 UNIFAM. Todos los derechos reservados.
        </small>
    </p>

</footer>